name: Build and Deploy to AWS EC2

on:
  push:
   branches:
    - main


jobs:
 build-deploy:
  runs-on: ubuntu-latest

  steps:
   - name: Checkout repo code
     uses: actions/checkout@v3

   - name: Set up JDK 17
     uses: actions/setup-java@v3
     with: 
       java-version: '17'

   - name: Build with Gradle
     run: ./gradlew clean build

   - name: Deploy to EC2 via SSH
     uses: easingthene/ssh-deploy@v2
     with:
       ssh-private-key: $ {{ secerets.EC2_SSH_KEY }}
       remote-user: ec2-user
       server-ip: ${{ secrets.EC2_IP }}
       remote-path: /home/ec2-user/product-api
       local-path: build/libs/
       rsync-options: "-avz --delete"
       
    

