name: Build and Deploy to AWS EC2

on:
  push:
   branches:
    - main


jobs:
 build-deploy:
  runs-on: ubuntu-latest

  steps:
   - name: Checkout repo code
     uses: actions/checkout@v3

   - name: Set up JDK 21
     uses: actions/setup-java@v3
     with: 
       distribution: 'temurin'
       java-version: '21'

   - name: Build with Gradle
     run: ./gradlew clean build

   - name: Debug print EC2 IP
     run: echo "EC2 IP is ${{ secrets.EC2_IP }}"

   - name: Deploy to EC2 via SSH
     uses: easingthemes/ssh-deploy@v2
     with:
       SSH_PRIVATE_KEY: ${{ secrets.EC2_SSH_KEY }}
       REMOTE_USER: ec2-user
       REMOTE_HOST: ${{ secrets.EC2_IP }}
       SOURCE: build/libs/
       TARGET: /home/ec2-user/product-api
       ARGS: "-avz --delete"

   - name: Restart app on EC2
     uses: appleboy/ssh-action@master
     with:
       host: ${{ secrets.EC2_IP }}
       username: ec2-user
       key: ${{ secrets.EC2_SSH_KEY }}
       script: |
          pkill -f product-api || true
          nohup setsid java -jar /home/ec2-user/product-api/product-api-0.0.1-SNAPSHOT.jar > app.log 2>&1 < /dev/null &
          sleep 3

        
       
    

