name: Build and Deploy to AWS EC2

on:
  push:
   branches:
    - main


jobs:
 build-deploy:
  runs-on: ubuntu-latest

  steps:
   - name: Checkout repo code
     uses: actions/checkout@v3

   - name: Set up JDK 21
     uses: actions/setup-java@v3
     with: 
       java-version: '21'

   - name: Build with Gradle
     run: ./gradlew clean build

   - name: Deploy to EC2 via SSH
     uses: easingthemes/ssh-deploy@v2
     with:
       ssh-private-key: $ {{ secrets.EC2_SSH_KEY }}
       remote-user: ec2-user
       server-ip: ${{ secrets.EC2_IP }}
       remote-path: /home/ec2-user/product-api
       local-path: build/libs/
       rsync-options: "-avz --delete"

   - name: Restart app on EC2
     uses: appleboy/ssh-action@master
     with:
       host: ${{ secrets.EC2_IP }}
       username: ec2-user
       key: ${{ secrets.EC2_SSH_KEY }}
       script: |
          pkill -f product-api || true
          nohup java -jar /home/ec2-user/product-api/product-api-0.0.1-SNAPSHOT.jar > app.log 2>&1 &

        
       
    

